.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-1{
  border: 2px solid black;
  border-radius: 1px;
  background: white;
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container-2{
  display: flex;
  flex-direction: row;
  gap: 20px;
  
  
}

.quote{
  font-size: 50px;
  text-align: start;
  
}

.phrase-1{
  font-size: 25px;
  text-align: center;
}

.author-1{
  font-size: 25px;
  text-align: end;
}

.button-finish{
  display: flex;
  justify-content: right;

}

.button-1{
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

